{% extends 'home.html' %}

{% block body %}
<div class="col-md-4 col-md-offset-4" style="margin-top: 10%">
        <div class="panel panel-default"  >
            <div class="panel-heading">Restablecimiento de Contraseña enviado</div>
            <div class="panel-body  ">
                <p>
                    Le hemos enviado por email las instrucciones para restablecer la contraseña, si es que existe una cuenta con la dirección electrónica que indicó. Debería recibirlas en breve.
                </p>
                <p>
                    Si no recibe un correo, por favor asegúrese de que ha introducido la dirección de correo con la que se registró y verifique su carpeta de spam.
                </p>

            </div>
        </div>
    </div>
{% endblock %}
