{% extends 'home.html' %}
{% block body %}
{% load bootstrap3 %}

    <div class="col-md-6 col-md-offset-3" style="margin-top: 2%">
        <div class="panel panel-default"  >
            <div class="panel-heading">Formulario de cambio de contraseña</div>
            <div class="panel-body  ">

                 <form action="" method="POST" >
                {% csrf_token %}
                {% bootstrap_form form %}
                 <div class="text-center">
                     {% buttons %}
                        <button type="submit" class="btn btn-default">Cambiar Contraseña</button>
                        <input type="button" class="btn btn-default "  value="Cancelar" onclick="location.href='{% url 'home' %}'" />
                    {% endbuttons %}
                 </div>

                </form>
            </div>
        </div>
    </div>

{% endblock %}