{% extends 'home.html' %}
{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% block body %}
    <div class="col-md-4 col-md-offset-4" style="margin-top: 3%">
        <div class="panel panel-default"  >
            <div class="panel-heading">Notificar Equipo Averiado</div>
            <div class="panel-body  ">
                 <form action="" method="POST" >
                {% csrf_token %}
                {% bootstrap_form form %}
                    {% buttons %}
                        <button type="submit" class="btn btn-default">Buscar</button>
                        <input type="button" class="btn btn-default "  value="Cancelar"  onclick="location.href='{% url 'home' %}'"/>
                    {% endbuttons %}

                </form>
            </div>
        </div>
    </div>
{% endblock %}